/*
@mixin colorDiv($resultado){
    @if $resultado == victoria{
        background-color: $colorVictoria;
    } @else if $resultado == derrota{
        background-color: $colorDerrota;
    } @else if $resultado == empate{
        background-color: $colorEmpate;
    }
}
*/
body {
  margin: 0;
  background-image: url("/IMG/aficion-tribuna.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.body-resultados-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.body-resultados-page header {
  height: 80px;
}
.body-resultados-page main {
  flex: 1;
  display: flex;
  width: 100%;
  margin: 20px;
}
.body-resultados-page main .divResultados {
  width: 50%;
}
.body-resultados-page main .divClasificacion {
  width: 45%;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 98px;
  color: #e0e0e0;
  background-color: #0a1e3f;
  font-size: 500;
  font-weight: bolder;
}
nav a {
  text-decoration: none;
  color: #e0e0e0;
}

footer {
  background: #0a1e3f;
  max-height: auto;
  margin-bottom: 0;
  margin-top: 10rem;
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  bottom: 0;
}
footer h2 {
  text-align: center;
  align-items: center;
  color: #e0e0e0;
}
footer .patrocinadores {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .patrocinadores img {
  max-width: 5%;
  display: block;
}

#escudo {
  width: 50px;
}

#btnInicio {
  color: #c8a200;
}

#la-aficion {
  width: 100%;
  height: 100%;
}

.jugadores {
  z-index: -1000;
  margin: 40px 40px 0px 40px;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
}
.jugadores div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  display: flex;
  gap: 5rem;
  padding-bottom: 40px;
}
.jugadores h3 {
  font-size: 50px;
  margin: 10px 0px 30px 50px;
}
.jugadores img {
  border: 1px solid rgb(30, 20, 20);
  border-radius: 10px;
}

.contenedor-contenido {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  width: 100%;
}
.contenedor-contenido img {
  width: 30%;
  height: 100%;
  min-width: 200px;
  min-height: 250px;
  max-width: 260px;
  border: solid 3px #c8a200;
  border-radius: 10px;
  margin-right: 10px;
  object-fit: cover;
}
.contenedor-contenido .contenido-txt {
  width: 50%;
  height: 100%;
  min-height: 300px;
  margin-left: 10px;
  font-size: large;
  background-color: #0a1e3f;
  color: #e0e0e0;
  padding-left: 10px;
  border-radius: 5px;
}
.contenedor-contenido .contenido-txt h3 {
  color: #c8a200;
}

.divResultados div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  margin-top: 30px;
  border: 1px solid black;
  width: 100%;
  background-color: rgb(180, 170, 170);
}
.divResultados div img {
  width: 100px;
  height: 150px;
  object-fit: cover;
}
.divResultados div p {
  font-size: 60px;
}
.divResultados .derrota {
  border: solid 3px rgba(184, 0, 0, 0.7254901961);
  box-shadow: 2px 2px 5px 0px rgba(184, 0, 0, 0.7254901961);
}
.divResultados .empate {
  border: solid 3px rgba(7, 7, 7, 0.6);
  box-shadow: 2px 2px 5px 0px rgba(7, 7, 7, 0.6);
}
.divResultados .victoria {
  border: solid 3px rgba(0, 154, 36, 0.8470588235);
  box-shadow: 2px 2px 5px 0px rgba(0, 154, 36, 0.8470588235);
}

.divClasificacion {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}
.divClasificacion .tabla-header {
  display: flex;
  align-items: center;
  background-color: #d2d2d2;
  font-weight: bold;
}
.divClasificacion .tabla-header .col {
  flex: 1;
  padding: 20px 20px;
  border-bottom: 1px solid #ddd;
}
.divClasificacion .tabla-row {
  display: flex;
  align-items: center;
}
.divClasificacion .tabla-row:nth-child(odd) {
  background-color: #d0d0d0;
  color: #222;
}
.divClasificacion .tabla-row:nth-child(even) {
  background-color: #ccc;
  color: #222;
}
.divClasificacion .tabla-row.top1 {
  background-color: #98e7b0;
  color: #222;
  font-weight: bold;
}
.divClasificacion .tabla-row .col {
  flex: 1;
  padding: 20px 20px;
  border-bottom: 1px solid #ddd;
}
.divClasificacion .tabla-row .col img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

#box_player {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=main.css.map */
