
body{
    margin: 0;
    background-image: url('/IMG/aficion-tribuna.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

header {
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 95px;
  color: white;
  background-color: #035aa6;
  font-size: 500;
  font-weight: bolder;

  a {
    text-decoration: none;
    color: white;
  }
}







#escudo {
  width: 50px;
}

#btnInicio {
  color: #ffd80b;
}

#la-aficion {
  width: 100%;
  height: 100%;
}

#contenedor-contenido {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  width: 100%;
  height: 300px;

  img {
    width: 30%;
    height: 100%;
    border: solid 3px #ffd80b;
    border-radius: 10px;
    margin-right: 10px;
  }

  #contenido-txt {
    width: 50%;
    height: 100%;
    margin-left: 10px;
    font-size: large;
    background-color: #035aa6;
    color: white;
    padding-left: 10px;
    border-radius: 5px;

    h3 {
      color: #ffd80b;
    }
  }
}

