@use "variables" as *;

body{
    font-family: $font-body;
    font-weight: $font-weight-regular;
    margin: 0;
    background-image: url('/IMG/aficion-tribuna.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

h1, h2, h3{
    font-family: $font-heading;
    font-weight: $font-weight-bold;
}

.body-resultados-page {
    font-family: $font-body;
    font-weight: $font-weight-regular;
    font-family: $font-body;
    font-weight: $font-weight-regular;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    header {
        height: 80px;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
    }
}