@use "variables" as *;

body{
    margin: 0;
    background-image: url('/IMG/aficion-tribuna.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.body-resultados-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    header {
        height: 80px;
    }

    main {
        flex: 1;
        display: flex;
        width: 100%;
        margin: 20px;

        .divResultados{
            width: 50%;
        }

        .divClasificacion {
            width: 45%;
        }
    }
}