@use "variables" as *;

body{
    margin: 0;
    background-image: url('/IMG/aficion-tribuna.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}