@use "variables" as *;

#escudo {
    width: 50px;
}

#btnInicio {
    color: $colorDetallesAmarillo;
}

#la-aficion {
    width: 100%;
    height: 100%;
}

#contenedor-contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    width: 100%;
    height: 300px;

    img {
        width: 30%;
        height: 100%;
        border: solid 3px #ffd80b;
        border-radius: 10px;
        margin-right: 10px;
    }

    #contenido-txt {
        width: 50%;
        height: 100%;
        margin-left: 10px;
        font-size: large;
        background-color: #035aa6;
        color: white;
        padding-left: 10px;
        border-radius: 5px;

        h3 {
            color: #ffd80b;
        }
    }
}