@use "variables" as *;

#escudo {
    width: 50px;
}

#btnInicio {
    color: $colorDetallesAmarillo;
}

#la-aficion {
    width: 100%;
    height: 100%;
}


.contenedor-contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    width: 100%;
    min-height: 300px;
    box-shadow: 10px;

    img {
        width: 30%;
        height: 100%;
        min-width: 200px;
        min-height: 250px;
        max-width: 260px;
        border: solid 3px $colorDetallesAmarillo;
        border-radius: 10px;
        margin-right: 10px;
        object-fit: cover;
    }

    .contenido-txt {
        width: 50%;
        height: 100%;
        min-height: 300px;
        margin-left: 10px;
        font-size: large;
        background-color: $colorFondo;
        color: $colorLetrasHeader;
        padding-left: 10px;
        border-radius: 5px;

        h3 {
            color: $colorDetallesAmarillo;
        }
    }
}