@use "variables" as *;
@use "mixins" as *;

#escudo {
    width: 50px;
}

#btnInicio {
    color: $colorDetallesAmarillo;
}

#la-aficion {
    width: 100%;
    height: 100%;
}





.jugadores {
    z-index: -1000;
    margin: 40px 40px 0px 40px;
    @include efectoGlass;
    div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        display: flex;
        gap: $gap-size;
        padding-bottom: 40px;
    }

    h3{
        font-size: 50px;
        margin: 10px 0px 30px 50px;
    }

    img{
        border: 1px solid $colorBordeImg;
        border-radius: 10px;

    }
}


.contenedor-contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    width: 100%;

    img {
        width: 30%;
        height: 100%;
        min-width: 200px;
        min-height: 250px;
        max-width: 260px;
        border: solid 3px $colorDetallesAmarillo;
        border-radius: 10px;
        margin-right: 10px;
        object-fit: cover;
    }

    .contenido-txt {
        width: 50%;
        height: 100%;
        min-height: 300px;
        margin-left: 10px;
        font-size: large;
        background-color: $colorFondo;
        color: $colorLetrasHeader;
        padding-left: 10px;
        border-radius: 5px;

        h3 {
            color: $colorDetallesAmarillo;
        }
    }
}

.divResultados{

    div{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 20px;
        margin-top: 30px;
        border: 1px solid black;
        width: 100%;
        background-color: $colorFondoDivResultados;
        img{
            width: 100px;
            height: 150px;
            object-fit: cover;
        }
        p{
            font-size: 60px;
        }
    }

    .derrota{
        @include colorDiv("derrota");
    }

    .empate{
        @include colorDiv("empate");
    }

    .victoria{
        @include colorDiv("victoria");
    }
}

.divClasificacion{
    border: 1px solid $colorBorde;
    border-radius: 8px;
    overflow: hidden;
    

    .tabla-header{
        @include flex-row;
        background-color: $colorFondoTabla;
        font-weight: bold;

        .col{
            @include col;
        }
    }

    .tabla-row{
        @include flex-row;

        &:nth-child(odd){
            @include fila($colorImpar1, $colorTabla2);
        }

        &:nth-child(even){
            @include fila($colorPar1, $colorTabla2);
        }

        &.top1{
            @include fila($colorTop1, $colorTabla2);
            font-weight: bold;
        }

        .col{
            @include col;

            img{
                width: 20px;
                height: 20px;
                margin-right: 8px;
            }
        }
    }
}

#box_player{
    display: flex;
    flex-direction: column;
    
}
