@use "variables" as *;
@use "mixins" as *;

#escudo {
    width: 50px;
}

#btnInicio {
    color: $colorDetallesAmarillo;
}

#la-aficion {
    width: 100%;
    height: 100%;
}





.jugadores {
    z-index: -1000;
    margin: 40px 40px 0px 40px;
    @include efectoGlass;
    div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        display: flex;
        gap: $gap-size;
        padding-bottom: 40px;
    }

    h3{
        color: $colorH3Plantilla;
        padding-left: 50px;
        border-bottom: 1px solid black;
        font-size: 50px;
        margin: 10px 0px 30px 0px;
    }

    img{
        border: 1px solid $colorBordeImg;
        border-radius: 10px;

    }
}


.contenedor-contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    width: 100%;

    img {
        width: 30%;
        height: 100%;
        min-width: 200px;
        min-height: 250px;
        max-width: 260px;
        border: solid 3px $colorDetallesAmarillo;
        border-radius: 10px;
        margin-right: 10px;
        object-fit: cover;
    }

    .contenido-txt {
        width: 50%;
        height: 100%;
        min-height: 300px;
        margin-left: 10px;
        font-size: large;
        background-color: $colorFondo;
        color: $colorLetrasHeader;
        padding-left: 10px;
        border-radius: 5px;

        h3 {
            color: $colorDetallesAmarillo;
        }
    }
}

.divResultados{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 30px;
        border: 1px solid black;
        width: 80%;
        @include efectoGlass;
        z-index: -100;
        color: white;
        img{
            width: 100px;
            height: 150px;
            object-fit: cover;
        }
        p{
            font-size: 60px;
        }
    }

    .derrota{
        @include colorDiv("derrota");
    }

    .empate{
        @include colorDiv("empate");
    }

    .victoria{
        @include colorDiv("victoria");
    }
}

.divClasificacion{
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

    #tituloClasificacion{
        background-color: $colorTituloResultados;
        color: $colorH2yH3Resultados;
        h2, h3{
            padding-left: 5%;
        }
    }


    div{
        width: 80%;
    }

    .tabla-header{
        @include flex-row;
        background-color: $colorFondoTabla;
        font-weight: bold;

        .col{
            @include col;
        }
    }

    .tabla-row{
        @include flex-row;

        &:nth-child(odd){
            @include fila($colorImpar1, $colorTabla2);
        }

        &:nth-child(even){
            @include fila($colorPar1, $colorTabla2);
        }

        &.top1{
            @include fila($colorTop1, $colorTabla2);
            font-weight: bold;
        }

        &.recre{
            @include fila($colorRecre, white);
            font-weight: bold;
        }

        .col {
            @include col;
            display: flex;
            align-items: center;
            gap: 8px;
            white-space: nowrap;
            overflow: hidden;

        img {
            width: 20px;
            height: 20px;
            flex-shrink: 0;
        }
}
    }
}

#box_player{
    display: flex;
    flex-direction: column;
}
