@use "variables" as *;
@use "mixins" as *;

#escudo {
    width: 50px;
}

#btnInicio {
    color: $colorDetallesAmarillo;
}

#la-aficion {
    width: 100%;
    height: 100%;
}


$gap-size: 5rem;


.jugadores {

    margin: 40px 0px 0px 40px;
    div{
        display: flex;
        width: 50px;
        gap: $gap-size;
    }


    img{
        border: 1px solid black;
        border-radius: 10px;

    }
}


.contenedor-contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    width: 100%;

    img {
        width: 30%;
        height: 100%;
        min-width: 200px;
        min-height: 250px;
        max-width: 260px;
        border: solid 3px $colorDetallesAmarillo;
        border-radius: 10px;
        margin-right: 10px;
        object-fit: cover;
    }

    .contenido-txt {
        width: 50%;
        height: 100%;
        min-height: 300px;
        margin-left: 10px;
        font-size: large;
        background-color: $colorFondo;
        color: $colorLetrasHeader;
        padding-left: 10px;
        border-radius: 5px;

        h3 {
            color: $colorDetallesAmarillo;
        }
    }
}

.divResultados{

    div{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 20px;
        margin-top: 30px;
        border: 1px solid black;
        width: 80%;
        background-color: $colorFondoDivResultados;
        img{
            width: 100px;
            height: 150px;
            object-fit: cover;
        }
        p{
            font-size: 60px;
        }
    }

    .derrota{
        @include colorDiv("derrota");
    }

    .empate{
        @include colorDiv("empate");
    }

    .victoria{
        @include colorDiv("victoria");
    }
}

.divClasificacion{
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;

    .tabla-header{
        @include flex-row;
        background-color: #f5f5f5;
        font-weight: bold;

        .col{
            @include col;
        }
    }

    .tabla-row{
        @include flex-row;

        &:nth-child(odd){
            @include fila(#fafafa, #000);
        }

        &:nth-child(even){
            @include fila(#fff, #000);
        }

        &.top1{
            @include fila(#d4edda, #000);
            font-weight: bold;
        }

        .col{
            @include col;

            img{
                width: 20px;
                height: 20px;
                margin-right: 8px;
            }
        }
    }
}

#box_player{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jugadores{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);

    
}