@use "variables";

header {
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 95px;
    color: white;
    background-color: variables.$colorFondo;
    font-size: 500;
    font-weight: bolder;

a {
    text-decoration: none;
    color: variables.$colorLetrasHeader;
}
}