@use "variables" as *;

header {
    position: sticky;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 98px;
    color: var(--color-nav);
    background-color: var(--color-fondo);
    font-size: 500;
    font-weight: bolder;

    a {
        text-decoration: none;
        color: var(--color-letras-header);
    }
}
footer{
    background: var(--color-fondo-footer);
    max-height: auto;
    margin-bottom: 0;
    margin-top: 10rem;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position:sticky ;
    bottom: 0;
    h2{
        text-align: center;
        align-items: center;
        color: var(--color-h2-footer);
    }
    .patrocinadores{
        display: flex;
        justify-content: space-around;
        align-items: center;

        img{
            max-width: 5%;
            display: block;
        }
    }
}