@use "variables" as *;

header {
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 95px;
    color: white;
    background-color: $colorFondo;
    font-size: 500;
    font-weight: bolder;

a {
    text-decoration: none;
    color: $colorLetrasHeader;
}
}
footer{
    background: #035aa6;
    max-height: 35vh;
    margin-bottom: 0;
    margin-top: 10rem;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    h2{
        text-align: center;
        align-items: center;
        color: white;
    }
    .patrocinadores{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        img{
            max-width: 20%;
            display: block;
        }
    }
}