@use "variables" as *;

@mixin efectoGlass(){
    background: var(--color-fondo-efecto-glass);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid var(--color-borde-efecto-glass);
    border-radius: 15px;
    box-shadow: 0 8px 30px var(--color-sombra-caja);
}

@mixin colorDiv($resultado){
    @if $resultado == victoria{
        box-shadow: 2px 2px 5px 0px var(--color-victoria);
    } @else if $resultado == derrota{
        box-shadow: 2px 2px 5px 0px var(--color-derrota);
    } @else if $resultado == empate{
        box-shadow: 2px 2px 5px 0px var(--color-empate);
    }
}

@mixin fila($bg, $color){
    background-color: $bg;
    color: $color;
}

@mixin flex-row{
    display: flex;
    align-items: center;
}

@mixin col($width: 1){
    flex: $width;
    padding: 20px 20px;
    border-bottom: 1px solid var(--color-borde);
}