@use "variables" as *;

/*
@mixin colorDiv($resultado){
    @if $resultado == victoria{
        background-color: $colorVictoria;
    } @else if $resultado == derrota{
        background-color: $colorDerrota;
    } @else if $resultado == empate{
        background-color: $colorEmpate;
    }
}
*/

@mixin efectoGlass(){
    background: $colorFondoEfectoGlass;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border: 1px solid $colorBordeEfectoGlass;
    border-radius: 15px;

    box-shadow: 0 8px 30px $colorSombraCaja;
}

@mixin colorDiv($resultado){
    @if $resultado == victoria{
        box-shadow: 2px 2px 5px 0px $colorVictoria;
    } @else if $resultado == derrota{
        box-shadow: 2px 2px 5px 0px $colorDerrota;
    } @else if $resultado == empate{
        box-shadow: 2px 2px 5px 0px $colorEmpate;
    }
}

@mixin fila($bg, $color){
    background-color: $bg;
    color: $color;
}

@mixin flex-row{
    display: flex;
    align-items: center;
}

@mixin col($width: 1){
    flex: $width;
    padding: 20px 20px;
    border-bottom: 1px solid $colorBorde;
}

