@use "variables" as *;

/*
@mixin colorDiv($resultado){
    @if $resultado == victoria{
        background-color: $colorVictoria;
    } @else if $resultado == derrota{
        background-color: $colorDerrota;
    } @else if $resultado == empate{
        background-color: $colorEmpate;
    }
}
*/

@mixin efectoGlass(){
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

@mixin colorDiv($resultado){
    @if $resultado == victoria{
        border: solid 3px $colorVictoria;
        box-shadow: 2px 2px 5px 0px $colorVictoria;
    } @else if $resultado == derrota{
        border: solid 3px $colorDerrota;
        box-shadow: 2px 2px 5px 0px $colorDerrota;
    } @else if $resultado == empate{
        border: solid 3px $colorEmpate;
        box-shadow: 2px 2px 5px 0px $colorEmpate;
    }
}

@mixin fila($bg, $color){
    background-color: $bg;
    color: $color;
}

@mixin flex-row{
    display: flex;
    align-items: center;
}

@mixin col($width: 1){
    flex: $width;
    padding: 20px 20px;
    border-bottom: 1px solid #ddd;
}

