//COLORES
$colorFondo: #035aa6;
$colorDetallesAmarillo: #ffd80b;
$colorLetrasHeader: white;
$colorVictoria: #00ff2ad8;
$colorDerrota: #ff1e00b9;
$colorEmpate: #070707bb;
$colorFondoDivResultados: rgb(247, 237, 237);
$gap-size: 5rem;