//FUENTE
$font-heading: 'Montserrat', sans-serif;
$font-body: 'Poppins', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$gap-size: 5rem;


//MODO CLARO - PREDETERMINADO
:root {
    --color-fondo: #035aa6;
    --color-titulo-resultados: #035aa6;
    --color-detalles-amarillo: #ffd80b;
    --color-h2-h3-resultados: #ffd80b;
    --color-letras-header: white;
    --color-victoria: #00ff2ad8;
    --color-derrota: #ff1e00b9;
    --color-empate: #070707bb;
    --color-fondo-div-resultados: rgb(247, 237, 237);
    --color-borde-resultado: black;
    --color-borde-img: rgb(53, 31, 31);
    --color-borde: #ddd;
    --color-borde-clasificacion: #ddd;
    --color-fondo-tabla: #f5f5f5;
    --color-impar1: #fafafa;
    --color-tabla2: #000;
    --color-par1: #fff;
    --color-top1: #d4edda;
    --color-recre: #035aa6;
    --color-nav: white;
    --color-fondo-footer: #035aa6;
    --color-h2-footer: white;
    --color-fondo-efecto-glass: #035aa672;
    --color-borde-efecto-glass: #035aa6b1;
    --color-sombra-caja: rgba(0, 0, 0, 0.2);
    --color-h3-plantilla: #ffd80b;
    --color-fondo-sec-cambio-tema: #035aa6;
}

// TEMA OSCURO
#btnCambiarTema:checked ~ * {
    --color-fondo: #0a1e3f;
    --color-titulo-resultados: #0a1e3f;
    --color-detalles-amarillo: #c8a200;
    --color-h2-h3-resultados: #c8a200;
    --color-letras-header: #e0e0e0;
    --color-victoria: #009a24d8;
    --color-derrota: #b80000b9;
    --color-empate: #07070799;
    --color-fondo-div-resultados: rgb(243, 235, 235);
    --color-borde-resultado: #333;
    --color-borde-img: rgb(30, 20, 20);
    --color-borde: #000000;
    --color-borde-clasificacion: #888;
    --color-fondo-tabla: #d2d2d2;
    --color-impar1: #d0d0d0;
    --color-tabla2: #222;
    --color-par1: #ccc;
    --color-top1: #98e7b0;
    --color-recre: #113367;
    --color-nav: #e0e0e0;
    --color-fondo-footer: #0a1e3f;
    --color-h2-footer: #e0e0e0;
    --color-sombra-caja: rgba(0, 0, 0, 0.4);
    --color-fondo-efecto-glass: #0a1e3fd2;
    --color-borde-efecto-glass: #0a1e3fe4;
    --color-h3-plantilla: #c8a200;
    --color-fondo-sec-cambio-tema: #0a1e3f;
}