//COLORES
// $colorFondo: #035aa6;
// $colorDetallesAmarillo: #ffd80b;
// $colorLetrasHeader: white;
// $colorVictoria: #00ff2ad8;
// $colorDerrota: #ff1e00b9;
// $colorEmpate: #070707bb;
// $colorFondoDivResultados: rgb(247, 237, 237);
//espaciados
$gap-size: 5rem;
//fonts

//cambio tema
$colorFondo: #0a1e3f;               
$colorDetallesAmarillo: #ffd80b;    
$colorLetrasHeader: #f0f0f0;        
$colorVictoria: #00ff4dcc;           
$colorDerrota: #ff4a4ab3;            
$colorEmpate: #b0b0b0cc;             
$colorFondoDivResultados: #1e2a47; 
